h3{color: white;background: black;font: 988px;}
.toto{ color:black;background grid-template-areas:
 width: 720px;height: 720px; }
 .helen{color: black;background: white;}
 
 .mizu{ color: white;font-size: 24px; }
 #tototo{color: darkred; font-size: 48px;background: yellowgreen;}